@page "/"
@inject HttpClient HttpClient

<p>
    <MButton OnClick="RunCode">Run</MButton>
</p>

<div>
    <div id="code">
        <MMonacoEditor @ref="_editor"
                       Style="height:500px"
                       EditorOptions="_options">
        </MMonacoEditor>
    </div>
    <div id="splitter"></div>
    <div id="render">
        @if (_type != null)
        {
            <DynamicComponent Type="@_type" />
        }
        else
        {
            <h1>渲染区块</h1>
        }
    </div>
</div>

<style>
    #code {
        width: 50%;
        height: 100%;
        float: left;
    }

    #render {
        width: 49%;
        height: 100%;
        float: right;
    }

    #splitter {
        width: 10px;
        height: 100%;
        float: left;
        cursor: col-resize;
        background-color: #999999;
    }
</style>